{% extends 'base.html' %}
{% block title %}Topicos{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row" style="margin-top: 4%; margin-left: 18%;">
    <a type="button" class="btn btn-outline-primary" style="margin-bottom: 10px; margin-left: 15px;" href="/">Página Anterior</a>
    <div class="col-12 m-b-30">
        <div class="row">
            <div class="col-md-6 col-lg-9">
                <div class="card">
                    <div class="card-header bg-white">
                        <h1 class="card-title" style="font-size: 25px;">Dúvidas Interativa, veja, adicione ou responda!</h1>
                        <h5 class="card-subtitle mb-2 text-muted">Poste ou Responda uma dúvida</h5>
                    </div>
                    <img class="img-fluid" src="images/big/img1.jpg" alt="">
                    <div class="card-body">
                        <div class="novo-topico">

                            <div class="search-div">
                                <h5>Pesquisar tópico</h5>
                                <form method="GET" id="search-form">
                                    <input class="form-control" type="text" id="search" name="search" placeholder="Pesquisar tópico" value="{{ request.GET.search}}"><br>
                                    <button class="btn btn-primary" id="search-btn">Pesquisar</button>
                                </form>
                            </div>
                           
                        </div><br><br><br>
                        <div class="novo-topico">

                            <div id="pesquisar">
                                <a href="add-topico/" class="btn btn-primary float-left" style="background-color: #1430cd; border-color: #1430cd;">
                                        Adicionar um tópico
                                </a>
                            </div> 
                            <div id="pesquisar">
                                <a href="view-topicos/" class="btn btn-primary float-left" style="background-color: #1430cd; margin-left: 7px; border-color: #1430cd;">
                                        Meus Tópicos
                                </a>
                            </div>
                            <div id="pesquisar">
                                <a href="view-respostas/" class="btn btn-primary float-left" style="background-color: #1430cd; margin-left: 7px; border-color: #1430cd;">
                                        Minhas Respostas
                                </a>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Col -->
            <!-- End Col -->
            <!-- End Col -->
        </div>
    </div>
</div>
<div class="row" style="margin-left: 18%;">
    <div class="col-12">
        <h4 class="d-inline">Lista de Tópicos</h4>
        <p>Visualize ou responda os tópicos presentes nesta lista. Ah! você também pode adicionar um tópico caso esteja com dúvidas.</p>
        <div class="row">
            
            <div class="col-md-6 col-lg-9" >

                {% for comenta in comenta %}
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5>Tópico criado por: {{comenta.user.username}}</h5><br>
                        </div>
                        <h4 class="card-title"><a href="Detalhe/{{ comenta.id}}" style="color:black;">{{comenta.titulo}}</a></h4>
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn btn-outline-primary" style="margin-bottom: 10px; margin-left: 15px;" href="Detalhe/{{ comenta.id}}">Visualizar Respostas</a>
                        {% if user.is_authenticated %}
                        <a href="add/{{comenta.id}}" class="btn btn-primary float-right ">Responder este comentário</a>
                        {%endif%}
                    </div>
                </div>
                {% endfor %}
            </div>
           
        </div>
        <!-- End Col -->
    </div>
</div>


{% endblock %}