
{% extends 'base.html' %}
{% block title %}Topicos{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row" style="margin-top: 4%; margin-left: 18%;">
    <a type="button" class="btn btn-outline-primary" style="margin-bottom: 10px; margin-left: 15px;" href="/topico/">Página Anterior</a>
    <div class="col-12 m-b-30">
        <div class="row">
            <div class="col-md-6 col-lg-9">
                <div class="card">
                    <div class="card-header bg-white">
                        <h4 class="card-title">Respostas de: {{topico.titulo}} </h4>
                    </div>
                    <img class="img-fluid" src="images/big/img1.jpg" alt="">
                    </div>
                </div>
            <!-- End Col -->
            <!-- End Col -->
            <!-- End Col -->
        </div>
    </div>
</div>
<div class="row" style="margin-left: 18%;">
    <div class="col-12">
        <h4 class="d-inline">Respostas relacionadas</h4>
        <div class="row">
            
            <div class="col-md-6 col-lg-9" >

                {% for resposta in topico.resposta_set.all%}
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5>Respondido por: {{resposta.user.username}}</h5><br>
                        </div>
                        <h4 class="card-title"><a href="Detalhe/{{ comenta.id}}" style="color:black;">Resposta: {{resposta.resposta}}</a></h4>
                    </div>
                </div>
                {% endfor %}
            </div>
           
        </div>
        <!-- End Col -->
    </div>
</div>



{% endblock %}
